<!DOCTYPE html>
<html  lang="en">
<head >
    <title>DetailCustomer</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Code</th>
        <th>Price</th>
        <th>Day</th>

    </tr>
    <tr>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.code}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.date}"></td>
    </tr>
</table>

</form>
</body>
</html>